<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>共融律师事务所官网</title>
    <link rel="stylesheet" href="http://gongrong.applinzi.com/styles/normal.css">
    <link rel="stylesheet" href="http://gongrong.applinzi.com/styles/index.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="http://gongrong.applinzi.com/imgs/logo.jpg" alt="">
        </div>
        <div class="select">
            <div class="searchbox">
                <input type="text" value=<%- xss %>>
                <i class="iconfont icon-search"></i>
            </div>
            <div class="language">
                <a href="http://gongrong.applinzi.com/ch/index.html">中文</a>
                <span>|</span>
                <a href="http://gongrong.applinzi.com/english/index.html">English</a>
                <span>|</span>
                <a href="">日本語</a>
            </div>
        </div>
    </header>
    <nav>
        <ul>
            <li>
                <a href="http://gongrong.applinzi.com/ch/index.html">
                    首页
                </a>
            </li>
            <li>
                <a href="http://gongrong.applinzi.com/ch/pages/grzd/index.html">
                    共融之道
                </a>
            </li>
            <li>
                <a href="http://gongrong.applinzi.com/ch/pages/resources/home/index.html">
                    业务领域
                </a>
            </li>
            <li>
                <a href="http://gongrong.applinzi.com/ch/pages/teams/home/index.html">
                    共融团队
                </a>
            </li>
            <li>
                <a href="">
                    共融动态
                </a>
            </li>
            <li>
                <a href="">
                    共融资源
                </a>
                <ul>
                    <li>
                        <a href="http://gongrong.applinzi.com/ch/pages/business/club/index.html">
                            HRCLUB
                        </a>
                    </li>
                    <li>
                        <a href="http://gongrong.applinzi.com/ch/pages/business/club/index.html">
                            人事争议调解中心
                        </a>
                    </li>
                    <li>
                        <a href="http://gongrong.applinzi.com/ch/pages/business/alliance/index.html">
                            人合联盟
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="">
                    客户共赢
                </a>
            </li>
            <li>
                <a href="">
                    职业机会
                </a>
            </li>
            <li>
                <a href="http://gongrong.applinzi.com/ch/index.html#contact">
                    联系我们
                </a>
            </li>
        </ul>
    </nav>
    <div id="detail">
        <div class="left">
            <img src="http://gongrong.applinzi.com/imgs/left.jpg" alt="">
            <p class="orange">
                共融团队
            </p>
            <p>
                专业、优秀、高效的团队是共融和客户共赢的保证!
            </p>
        </div>
        <div class="right">
            <h2>
                共融团队
            </h2>
            <ul>
                <li>
                    <a class="strong" href="../xyg/index.html">
                        徐永革 律师
                    </a>
                </li>
                <li>
                    <a class="strong" href="../hf/index.html">
                        华峰 律师
                    </a>
                </li>
                <li>
                    <a class="strong" href="../lhm/index.html">
                        李慧苗 律师
                    </a>
                </li>
                <li>
                    <a class="strong" href="../cs/index.html">
                        陈思 律师
                    </a>
                </li>
                <li>
                    <a class="strong" href="../yq/index.html">
                        闫晴 律师
                    </a>
                </li>
                <li>
                    <a class="strong" href="../xh/index.html">
                        夏慧 律师
                    </a>
                </li>
                <li>
                    <a class="strong" href="../hj/index.html">
                        何佳 律师
                    </a>
                </li>
                <li>
                    <a class="strong" href="../xy/index.html">
                        薛杨 律师
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="bottom">
        <div class="left">
            <p>
                地址：天津市河东区三联大厦 805-806
            </p>
            <!--<p>-->
            <!--邮编：100022 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;邮箱：<a href="mailto:pt@gongronglawyer.com">pt@gongronglawyer.com</a>-->
            <!--</p>-->
        </div>
        <div class="right">
            <p>
                <a href="">
                    隐私保护
                </a>
                <span>|</span>
                <a href="">
                    网站声明
                </a>
                <span>|</span>
                <a href="">
                    办公平台
                </a>
                <span>|</span>
                <a href="">
                    邮箱登陆
                </a>
            </p>
            <p>
                <span>
                    分享:
                </span>
                <a href="">
                    <img src="http://gongrong.applinzi.com/imgs/i_sina.png" alt="">
                </a>
                <a href="">
                    <img src="http://gongrong.applinzi.com/imgs/i_weixin.png" alt="">
                </a>
                <a href="">
                    <img src="http://gongrong.applinzi.com/imgs/i_qq.png" alt="">
                </a>
                <img src="" alt="">
            </p>
        </div>
    </div>
</body>
</html>
